<div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a href="/">Home</a>
                <a href="/about/diabetes">About Diabetes</a>
                <a href="/about/us">About Us</a>
                <a href="/auth/login">Sign In</a>
            </div>
</div>
<section id="form">
    <a id="back-link" href="/auth/register">Are you a clinician and have no account? Register now</a>
    <div class="status-message"></div>
    <div class = "form-box">
        <form class = "flex-column" onsubmit="onSubmit(event)" method="post">
            <!-- Needs work. Not sure how to send username and password. 
            Will also need to redirect to home screen after login or password reset page -->
            
            <input id="username-input" type="text" name="username" placeholder="Username">
            <input id="password-input" type="password" name="password" placeholder="Password">
            <!--<br><div class="full-width flex-justify-start"><a href="#">Forgot password</a></div>-->
            <button class="button-standard button-standard-medium" type="submit" name="">Sign in</button>
        </form>
    </div>
</section>

<script src="/scripts/auth/loginForm.js"></script>