<section id="auth-form">
    <div class="status-message"></div>
    <div class = "auth-form-box">
        <form onsubmit="onSubmit(event)">
            <!-- Needs work. Not sure how to send username and password. 
            Will also need to redirect to home screen after login or password reset page -->
            
            <input id="username-input" type="text" name="username" placeholder="Username">
            <input id="password-input" type="password" name="password" placeholder="Password">
            <br><a href="#">Forgot password</a>
            <br><button class="button-standard" type="submit" name="">Sign in as patient</button>
        </form>
    </div>
</section>

<script src="/scripts/login/loginForm.js"></script>