<div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a href="/">Home</a>
                <a href="/about/diabetes">About Diabetes</a>
                <a href="/about/us">About Us</a>
                <a href="/auth/login">Sign In</a>
            </div>
</div>
<section id="form">
    <div class="flex-column">
        <h3>Your account has been registered</h3>
        <a class="button-standard button-standard-medium" href="/auth/login"><p>To Login</p></a>
    </div>
</section>