<section id="auth-form">
    <div class="flex-column">
        <h1>Your account has been registered</h1>
        <a class="button-standard" href="/auth/login"><p>To Login</p></a>
    </div>
</section>