<section id="form">
    <div class="flex-column">
        <h3>Your account has been registered</h3>
        <a class="button-standard button-standard-medium" href="/auth/login"><p>To Login</p></a>
    </div>
</section>