<link rel="stylesheet" href="/home.css">

<h2>DiabetesM</h2>

<p>This is the home page</p>
<p>Go to <a href="/about/diabetes"> about diabetes</a></p>
<p>Go to <a href="/about/us">about us</a></p>
<p>Go to <a href="/patient/home">patient home</a></p>
<p>Go to <a href="/auth/login"> sign in</a></p>
<p>Go to <a href="/clinician/dashboard"> clinician dashboard</a></p>
<p>Go to <a href="/patient/profile">patient profile</a></p>
<p>test home page</p>



<div class = "row_">
    <a href="/auth/login">
        <div class = "split leftside">
            <div class="centered">
                <div class ="bk_image">
                    <img id = "docimage" src="/assets/doctor2.jpg" >
                </div>
                <div class="toggle_text">
                    <div class="text">Are you a clinician?</div>
                </div>
                
            </div>
        </div>
    </a>

    <a href="/auth/login">
        <div class = "split rightside">
            <div class="centered">
                <div class ="bk_image">
                    <img id = "pat image" src="/assets/patient2.jpg" >
                </div>
                <div class="toggle_text">
                    <div class="text">Are you a patient?</div>
                </div>
                
            </div>
        </div>
    </a>
    <div class="centered">
        <img id="website title" src="/assets/diabetem2.png" >
    </div>
</div>



