<section id="settings">
    <section class="form-box flex-column">
        <h3>Update your password</h3>
        <input id="password" type="password" placeholder="New password">
        <input id="password-confirm" type="password" placeholder="Confirm new password">
        <button class="button-standard button-standard-medium" onclick="updatePassword()">Update</button>
    </section>
</section>

<script src="/scripts/auth/passwordUpdate.js"></script>