<section id="bloodGlucose">
    <div class="bg-container">
        <h3>
            How is your blood glucose level looking today?
        </h3>
        <input placeholder="Enter your blood glucose level (mmol/L)">
        <input type="date" style="margin: 5px 0 5px 0">
        <input placeholder="Notes (optional)">
        <div class="div-center-horiz">
            <button class="button-standard">Submit</button>
        </div>
    </div>
</section>