:root {
    --BACKGROUND: #FFFFFF;
    --BACKGROUND_CONTAINER: rgba(64, 47, 72, 0.6);
    --BACKGROUND_CONTAINER_HEAVY: rgba(59, 49, 58, 0.8);
    --BACKGROUND_TRANSPARENT_WHITE: rgba(255, 255, 255, 0.8);
    --ACCENT1_LIGHT: #d1bed8;
    --ACCENT1_STANDARD: #736f78;
    --ACCENT1_DARK: #23242f;
    --TEXT_BODY: #FFF;
    --TEXT_SUB: #818181;
    --TEXT_TITLE: #FFFFFF;
    --TEXT_INVERSE: #FFFFFF;
    --ACCENT_POSITIVE: #019D49;
    --ACCENT_NEGATIVE: #EF4751;
    --BUTTON: #131313;
    --INPUT: #2f3a48;

    --FONT-QUICKSAND: 'Quicksand', sans-serif;
    --FONT-XSMALL: 0.8rem;
    --FONT-SMALL: 1rem;
    --FONT-MEDIUM: 1.5rem;
    --FONT-LARGE: 2rem;
    --FONT-XLARGE: 3rem;
}



/*Comments 23/03/22 4:15pm
-- LIGHT & DARK THEME. Should there be 2 css files? (One for light... then same variable
names for different colours")
-- Responsive design working for phone screen size (flexbox), not working in resetting the
grid for tablet size
-- Not sure what the goal is with the naviagtion menu on the left, that wouldn't be a static
webpage anymore right?
-- Needs lots of little jobs, e.g. borders, video size, etc.




*/

/**
  * Changed this to a more generic selector for reuse
 **/
* {
    box-sizing: border-box;
}
body, html{
    height: 100%;
    margin: 0;
}
body {
    color: var(--TEXT_BODY);
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-rows: 80px 1fr 40px;
    
    background: url("/assets/website-background.jpg");
    backdrop-filter: blur(5px);
}
main {
    height: 100%;

    padding: 20px 30px;

    font-family: var(--FONT-QUICKSAND);
    grid-area: main;
}
header {
    height: 100%;
    grid-area: header;
    background-color: var(--BACKGROUND_CONTAINER_HEAVY);
    /*can't change the Roboto weight size for some reason??*/
    color: var(--TEXT_TITLE);
    text-align: center;

    font-size: var(--FONT-MEDIUM);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;

    padding: 5px;
    align-items: center;
}
footer {
    display: flex;
    justify-content: end;
    grid-area: footer;
    background-color: var(--BACKGROUND_CONTAINER_HEAVY);

    padding: 5px;
    color: white;
    font-family: var(--FONT-QUICKSAND);
    font-size: var(--FONT-SMALL);
}
footer > h3 {
    margin: auto 0;
}
header img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

h3 {
    font-weight: 400;
}
#page-title {
    font-family: var(--FONT-QUICKSAND);

    font-weight: 300;
}

.font-white {
    color: #FFFFFF;
}
.flex-row-align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quote {
    font-style: italic;
}
.quote::before {
    content: "\"";
    display: inline;
}
.quote::after {
    content: "\"";
    display: inline;
}

.bg-container {
    background: var(--BACKGROUND_CONTAINER);
    padding: 10px;
    border-radius: 10px;
}

.bg-container-heavy {
    background: var(--BACKGROUND_CONTAINER_HEAVY);
    padding: 10px;
    border-radius: 10px;
}

#app-header h1 {
    color: var(--TEXT_TITLE);
    margin: 0;
    padding: 0.2em 0;
    font-size: var(--FONT-SMEDIUM);

}
#app-header > *:first-child {
    height: 100%;
    display: flex;
    align-items: center;
}
#app-header > *:first-child > img {
    max-width: 100%;
    max-height: 100%;

    border-radius: 15px;

    margin: 0 5px;

    box-shadow: 1px 1px 2px 1px darkslategrey;
}
#app-header > *:nth-child(2) {
    font-weight: 500;
    font-size: var(--FONT-SMEDIUM);
}
.home-icon {
    position: absolute;

    top: 0;
    left: 0;
    margin: 20px;
}
.logout-icon {
    position: absolute;

    top: 0;
    right: 0;
    margin: 20px;
}
.home-icon, .logout-icon {
    border: none;
    border-radius: 10px;
    background-color: var(--ACCENT1_DARK);

    box-shadow: 1px 1px 2px 1.25px black, 0px 0px 0px 0px white inset;

    transition: linear 0.05s;

    cursor: pointer;
}

.home-icon::after {
    content: "Home";
    left: 100%;
}

.logout-icon::after {
    content: "Logout";
    right: 100%;
}

.home-icon::after, .logout-icon::after {
    position: absolute;
    top: 0;
    opacity: 0%;

    font-size: var(--FONT-XSMALL);

    background: var(--BACKGROUND_TRANSPARENT_WHITE);

    padding: 5px;

    border-radius: 5px;

    transition: linear 0.2s;
}

.home-icon:hover::after, .logout-icon:hover::after {
    opacity: 100%;
}
.home-icon:active, .logout-icon:active {
    background-color: var(--ACCENT1_STANDARD);
    box-shadow: 0px 0px 0px 0px black, 0px 0px 2px 0.5px white inset;
}

.home-icon > span, .logout-icon > span {
    color: white;
    font-size: 36px;
}

@media only screen and (min-width: 641px) and (max-width: 1200px) {
    :root {
        --FONT-XSMALL: 0.8rem;
        --FONT-SMALL: 1rem;
        --FONT-MEDIUM: 1.5rem;
        --FONT-LARGE: 2rem;
    }

    #app-main {
        padding: 10px;
        background-color: var(--BACKGROUND);
    }
}

@media screen and (max-width: 640px) {
    :root {
        --FONT-XSMALL: 1rem;
        --FONT-SMALL: 1.1rem;
        --FONT-MEDIUM: 1.5rem;
        --FONT-LARGE: 3rem;
    }
    header {
        display: flex;
        justify-content: center;

        font-size: small;
    }
    #app-header {
        grid-template-columns: 1fr 10fr 1fr;
    }
    #app-header #page-title {
        display: none;
    }
    #app-main {
        padding: 10px;
        background-color: var(--BACKGROUND);
    }
    #header-logo {
        display: none;
    }
    footer {
        display: none;
    }
}
