:root {
    --ACCENT_POSITIVE: #019D49;
    --ACCENT_NEGATIVE: #EF4751;
    --ACCENT_UTILITY: #2196F3;
    --FONT-QUICKSAND: 'Quicksand', sans-serif;
    --FONT-XSMALL: 0.8rem;
    --FONT-SMALL: 1rem;
    --FONT-MEDIUM: 1.5rem;
    --FONT-LARGE: 2rem;
    --FONT-XLARGE: 3rem;
    --FONT-ICON: 2rem;
}



/*Comments 23/03/22 4:15pm
-- LIGHT & DARK THEME. Should there be 2 css files? (One for light... then same variable
names for different colours")
-- Responsive design working for phone screen size (flexbox), not working in resetting the
grid for tablet size
-- Not sure what the goal is with the naviagtion menu on the left, that wouldn't be a static
webpage anymore right?
-- Needs lots of little jobs, e.g. borders, video size, etc.




*/

/**
  * Changed this to a more generic selector for reuse
 **/
* {
    box-sizing: border-box;
}
body, html{
    height: 100%;
    margin: 0;
}
body.light-mode {
    --BACKGROUND: #FFFFFF;
    --BACKGROUND_CONTAINER: rgba(255, 255, 255, 0.6);
    --BACKGROUND_CONTAINER_HEAVY: rgba(193, 188, 206, 0.8);
    --BACKGROUND_CONTAINER_HEAVIER: rgba(255, 255, 255, 0.5);
    --BACKGROUND_TRANSPARENT_WHITE: rgba(255, 255, 255, 0.8);
    --ACCENT1_LIGHT: #d1bed8;
    --ACCENT1_STANDARD: #dad4e2;
    --ACCENT1_DARK: #9b99a5;
    --ACCENT_REVERSE: rgb(101, 100, 110);

    --FONT-FAINT: #3b3b3b;
    --TEXT_NORMAL: #000000;
    --INPUT: rgba(202, 202, 211, 0.8);

    background: url("/assets/website-background-light.jpg");
}
body a {
    color: white;
}
body a:visited {
    color: rgb(151, 169, 187);
}
body{
    --BACKGROUND: #FFFFFF;
    --BACKGROUND_CONTAINER: rgba(64, 47, 72, 0.6);
    --BACKGROUND_CONTAINER_HEAVY: rgba(59, 49, 58, 0.6);
    --BACKGROUND_CONTAINER_HEAVIER: rgba(52, 50, 54, 0.7);
    --BACKGROUND_TRANSPARENT_WHITE: rgba(255, 255, 255, 0.8);
    --ACCENT1_LIGHT: #d1bed8;
    --ACCENT1_STANDARD: #454248;
    --ACCENT1_DARK: #23242f;
    --ACCENT_REVERSE: #ffffff;
    --FONT-FAINT: #c5c5c5;
    --TEXT_NORMAL: #FFFFFF;
    --INPUT: rgb(47, 58, 72, 0.8);

    color: var(--TEXT_NORMAL);
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-rows: 80px 1fr 40px;
    
    background: url("/assets/website-background-dark.jpg");
    
}
body.light-mode a {
    color:rgb(33, 33, 33);
}
body.light-mode a:visited {
    color:rgb(104, 101, 128);
}
main {
    height: 100%;

    padding: 20px 30px;

    font-family: var(--FONT-QUICKSAND);
    grid-area: main;
    
}
header {
    
    height: 100%;
    grid-area: header;
    background-color: var(--BACKGROUND_CONTAINER_HEAVY);
    /*can't change the Roboto weight size for some reason??*/
    color: var(--TEXT_TITLE);
    text-align: center;

    font-size: var(--FONT-MEDIUM);

    display: grid;

    padding: 5px;
    place-items: center;
}
header > h1 {
    margin: auto;
}
footer {
    display: flex;
    justify-content: end;
    grid-area: footer;
    background-color: var(--BACKGROUND_CONTAINER_HEAVY);

    padding: 5px;
    color: var(--TEXT_NORMAL);
    font-family: var(--FONT-QUICKSAND);
    font-size: var(--FONT-SMALL);
}
footer > h3 {
    margin: auto 0;
}
header img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}

h1, h2, h3 {
    font-weight: 400;
}
#page-title {
    font-family: var(--FONT-QUICKSAND);

    font-weight: 300;
}

.font-white {
    color: #FFFFFF;
}
.flex-row-align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quote {
    font-style: italic;
}
.quote::before {
    content: "\"";
    display: inline;
}
.quote::after {
    content: "\"";
    display: inline;
}

.bg-container {
    background: var(--BACKGROUND_CONTAINER);
    padding: 10px;
    border-radius: 10px;
}

.bg-container-heavy {
    background: var(--BACKGROUND_CONTAINER_HEAVY);
    padding: 10px;
    border-radius: 10px;
}

#app-header h1 {
    color: var(--TEXT_TITLE);
    margin: 0;
    padding: 0.2em 0;
    font-size: var(--FONT-SMEDIUM);

}
#app-header > *:first-child {
    height: 100%;
    display: flex;
    align-items: center;
}
#app-header > *:first-child > img {
    max-width: 100%;
    max-height: 100%;

    border-radius: 15px;

    margin: 0 5px;

    box-shadow: 1px 1px 2px 1px darkslategrey;
}
#app-header > *:nth-child(2) {
    font-weight: 500;
    font-size: var(--FONT-SMEDIUM);
}
.logout-icon {
    margin-left: auto !important;
}
.home-icon, .logout-icon {
    margin: 20px 0 20px 0;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--ACCENT1_DARK);

    box-shadow: 1px 1px 2px 1.25px black, 0px 0px 0px 0px white inset;

    transition: linear 0.05s;

    cursor: pointer;
}
.color-switch {
    margin: 2rem;
    border: black;
    position: relative;
    width: 70px;
    height: 40px;
}
.color-switch > span {
    border-radius: 30px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70px;
    background-color: var(--ACCENT_REVERSE);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.color-switch > span > span {
    margin: 0;
    color: black;
    display: grid;
    place-items: center;
    border-radius: 50%;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 5px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

    vertical-align: 1px;
}
.color-switch-input {
    display: none;
}
  
.color-switch-input:checked:focus + .color-switch span {
    box-shadow: 0 0 1px var(--ACCENT_UTILITY);
}
  
.color-switch-input:checked + span > span {
    background-color: #2196F3;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

.home-icon::after, .logout-icon::after {
    position: absolute;
    top: 25px;
    opacity: 0%;

    font-size: var(--FONT-XSMALL);

    background: var(--BACKGROUND_TRANSPARENT_WHITE);

    padding: 5px;

    border-radius: 5px;

    transition: linear 0.2s;
}

.home-icon:hover::after, .logout-icon:hover::after {
    opacity: 100%;
}
.home-icon:active, .logout-icon:active {
    background-color: var(--ACCENT1_STANDARD);
    box-shadow: 0px 0px 0px 0px black, 0px 0px 2px 0.5px white inset;
}

.home-icon > span, .logout-icon > span {
    color: var(--TEXT_NORMAL);
    font-size: 36px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--ACCENT1_DARK); 
}
 
::-webkit-scrollbar-thumb {
    background: var(--ACCENT1_STANDARD);
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--ACCENT1_LIGHT); 
}

::-webkit-scrollbar-thumb:active {
    background: white;
}

@media only screen and (min-width: 641px) and (max-width: 1200px) {
    :root {
        --FONT-XSMALL: 0.8rem;
        --FONT-SMALL: 1rem;
        --FONT-MEDIUM: 1.35rem;
        --FONT-LARGE: 1.75rem;
        --FONT-XLARGE: 2rem;
    }

    #app-main {
        padding: 10px;
        background-color: var(--BACKGROUND);
    }
}

@media screen and (max-width: 640px) {
    :root {
        --FONT-XSMALL: 1rem;
        --FONT-SMALL: 1.1rem;
        --FONT-MEDIUM: 1.5rem;
        --FONT-LARGE: 1.75rem;
        --FONT-XLARGE: 2rem;
    }
    header {
        display: grid;
        place-items: center;
        font-size: var(--FONT-SMALL);
    }
    .home-icon::after, .logout-icon::after {
        display: none;
    }
    footer {
        display: none;
    }
}
