:root {
    --BACKGROUND: #FFFFFF;
    --ACCENT1_LIGHT: #326FA4;
    --ACCENT1_STANDARD: #7790B5;
    --ACCENT1_DARK: #568AD6;
    --TEXT_BODY: #000000;
    --TEXT_SUB: #818181;
    --TEXT_TITLE: #FFFFFF;
    --TEXT_INVERSE: #FFFFFF;
    --ACCENT_POSITIVE: #019D49;
    --ACCENT_NEGATIVE: #EF4751;
    --BUTTON: #131313;
    --INPUT: #2f3a48;

    --FONT-QUICKSAND: 'Quicksand', sans-serif;
    --FONT-XSMALL: 0.8rem;
    --FONT-SMALL: 1rem;
    --FONT-SSMEDIUM: 1.25rem;
    --FONT-SMEDIUM: 1.5rem;
    --FONT-MEDIUM: 2rem;
    --FONT-LARGE: 3rem;
}



/*Comments 23/03/22 4:15pm
-- LIGHT & DARK THEME. Should there be 2 css files? (One for light... then same variable
names for different colours")
-- Responsive design working for phone screen size (flexbox), not working in resetting the
grid for tablet size
-- Not sure what the goal is with the naviagtion menu on the left, that wouldn't be a static
webpage anymore right?
-- Needs lots of little jobs, e.g. borders, video size, etc.




*/

/**
  * Changed this to a more generic selector for reuse
 **/
* {
    box-sizing: border-box;
}
body, html{
    height: 100%;
    margin: 0;
}
body {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-rows: 80px 1fr 40px;
}
main {
    height: 100%;

    padding: 10px;
    background-color: var(--BACKGROUND);

    font-family: var(--FONT-QUICKSAND);
    grid-area: main;
}
header {
    height: 100%;
    grid-area: header;
    background-color: var(--ACCENT1_LIGHT);
    /*can't change the Roboto weight size for some reason??*/
    color: var(--TEXT_TITLE);
    text-align: center;

    font-size: var(--FONT-MEDIUM);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;

    padding: 5px;
    align-items: center;
}
footer {
    display: flex;
    justify-content: end;
    grid-area: footer;
    background-color: var(--ACCENT1_LIGHT);

    padding: 5px;
    color: white;
    font-family: var(--FONT-QUICKSAND);
    font-size: var(--FONT-SMALL);
}
footer > h3 {
    margin: auto 0;
    font-weight: 200;
}
header img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
}
#page-title {
    font-family: var(--FONT-QUICKSAND);

    font-weight: 300;
}
.font-white {
    color: #FFFFFF;
}
.flex-row-align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quote {
    font-style: italic;
}
.quote::before {
    content: "\"";
    display: inline;
}
.quote::after {
    content: "\"";
    display: inline;
}
#app-header h1 {
    color: var(--TEXT_TITLE);
    margin: 0;
    padding: 0.2em 0;
    font-size: var(--FONT-SMEDIUM);
    
}
#app-header > *:first-child {
    height: 100%;
    display: flex;
    align-items: center;
}
#app-header > *:first-child > img {
    max-width: 100%;
    max-height: 100%;

    border-radius: 15px;

    margin: 0 5px;

    box-shadow: 1px 1px 2px 1px darkslategrey;
}
#app-header > *:nth-child(2) {
    font-weight: 500;
    font-size: var(--FONT-SMEDIUM);
}

@media only screen and (min-width: 641px) and (max-width: 1200px) {
    :root {
        --BACKGROUND: #FFF9EC;
        --ACCENT1_LIGHT: #326FA4;
        --ACCENT1_STANDARD: #7790B5;
        --ACCENT1_DARK: #568AD6;
        --TEXT_BODY: #000000;
        --TEXT_SUB: #818181;
        --TEXT_TITLE: #FFFFFF;
        --ACCENT_POSITIVE: #019D49;
        --ACCENT_NEGATIVE: #EF4751;
        --BUTTON: #131313;
        --INPUT: #2f3a48; /*opactiy 0.6*/
        --FONT-QUICKSAND: 'Quicksand', sans-serif;
    
        --FONT-XSMALL: 0.8rem;
        --FONT-SMALL: 1rem;
        --FONT-SSMEDIUM: 1.2rem;
        --FONT-SMEDIUM: 1.4rem;
        --FONT-MEDIUM: 2rem;
        --FONT-LARGE: 3rem;
    }

    #app-main {
        padding: 10px;
        background-color: var(--BACKGROUND);
    }
}

@media screen and (max-width: 640px) {
    :root {
        --BACKGROUND: #FFF9EC;
        --ACCENT1_LIGHT: #326FA4;
        --ACCENT1_STANDARD: #7790B5;
        --ACCENT1_DARK: #568AD6;
        --TEXT_BODY: #000000;
        --TEXT_SUB: #818181;
        --TEXT_TITLE: #FFFFFF;
        --ACCENT_POSITIVE: #019D49;
        --ACCENT_NEGATIVE: #EF4751;
        --BUTTON: #131313;
        --INPUT: #2f3a48; /*opactiy 0.6*/
        --FONT-QUICKSAND: 'Quicksand', sans-serif;
    
        --FONT-XSMALL: 1rem;
        --FONT-SMALL: 1.2rem;
        --FONT-SSMEDIUM: 1.5rem;
        --FONT-SMEDIUM: 2rem;
        --FONT-MEDIUM: 2.5rem;
        --FONT-LARGE: 3rem;
    }

    #app-header {
        grid-template-columns: 1fr 10fr 1fr;
    }
    #app-header #page-title {
        display: none;
    }
    #app-main {
        padding: 10px;
        background-color: var(--BACKGROUND);
    }
}
