#clinician-dashboard {
    display: grid;
    place-items: center;
    color: var(--TEXT_NORMAL);
    width: 100%;
}

#clinician-dashboard #logout-icon {
    position: absolute;

    top: 0;
    right: 0;
    margin: 15px;
}
#clinician-dashboard > section {
    border-radius: 15px;

    background: var(--BACKGROUND_CONTAINER);
    padding: 15px;

    max-width: 1600px;
    max-height: 100%;
}
#clinician-dashboard > button:first-child {
    position: absolute;

    right: 0;
    top: 0;

    margin: 20px;
}

#clinician-dashboard-title2{
    text-align: center;
    font-style: normal;
    
}
#clinician-dashboard-side-buttons{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    margin-right: 4%;
    
}

#clinician-dashboard-side-buttons>button{
    margin-inline-end: 1em;
    display: inline-block;
    
}

#clinician-patient-table-container {
    max-height: 50vh;
    overflow-y: auto;
}

.central-item{
    margin-left: auto;
    margin-right: auto; 
}

.central-item p {
    margin: 0;
}

/**
    BEGIN PATIENT REGISTRATION CSS EXTRACT
**/

#patient-registration {
    color: var(--TEXT_NORMAL);
}

#patient-registration section {
    background: var(--BACKGROUND_CONTAINER);
    margin: 15px;

    padding: 25px;
    border-radius: 15px;

    overflow: hidden;

    position: relative;
}

#patient-registration section > button{
    margin: 15px;
}

/**
    BEGIN PATIENT PAGE CSS EXTRACT
**/
#patient-page {
    display: grid;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "lefttop middletop right"
        "leftbot middlebot right"
}
#patient-page > section:nth-child(1) {
    grid-area: lefttop;
}
#patient-page > section:nth-child(2) {
    grid-area: leftbot;
}
#patient-page > section:nth-child(3) {
    grid-area: middletop;
}
#patient-page > section:nth-child(4) {
    grid-area: middlebot;
}
#patient-page > section:nth-child(5) {
    grid-area: right;
}
#patient-page > section {
    border-radius: 15px;

    background: var(--BACKGROUND_CONTAINER);
    padding: 15px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}
#patient-page #notes-section {
    max-height: 30vh;
    overflow-y: auto;
}
#patient-page #notes-section > .note {
    width: 100%;
    background: var(--BACKGROUND_CONTAINER_HEAVIER);
    box-shadow: 1px 1px 2px 0px var(--ACCENT_REVERSE);
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
}