.data-table, .data-table tr, .data-table td {
    border: 1px solid var(--ACCENT1_DARK);
    border-collapse: collapse;
}

.data-table {
    background-color: var(--INPUT);
    width: 100%;
    table-layout: fixed;
}

.data-table tr:first-child {
    text-decoration: underline;
    box-shadow: 0 1px 3px 1.5px black inset;
}
.data-table tr {
    width: 100%;
    padding: 5px;
}

.data-table td {
    position: relative;
    padding: 5px;
    color: var(--FONT-NORMAL);
}

.data-table p {
    margin: 0;
}
.data-dropdown {
    color: var(--FONT-NORMAL);
    font: var(--FONT-QUICKSAND);

    cursor: pointer;
}
.data-comment-button {
    position: relative;
    cursor: pointer;
}
.data-comment-button ~ div {
    position: absolute;

    width: auto;
    max-width: 300px;

    padding: 10px;
    right: 0;
    top: 80%;
    display: none;
    background-color: rgba(255, 255, 255, 0.8);

    color: black;

    border-radius: 5px;
}

.data-comment-active {
    display: block !important;
    z-index: 2;
}

.data-comment-active > h3 {
    color: black;
}

@media only screen and (max-width: 640px) {
    .data-table td {
        font: var(--FONT-XSMALL);
    }
}