#form {
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--BACKGROUND_CONTAINER);

    border-radius: 10px;

    position: relative;

    overflow: hidden;

    display: grid;
    place-items: center;

    color: white;
}
#form a {
    color: white;
    font-family: var(--FONT-QUICKSAND);
    font-size: var(--FONT-SMALL);
}

.form-box {
    background-color: transparent;
    box-sizing: border-box;
    
    position: relative;
}
.form-box * {
    margin-left: 10px;
}
.form-box input, .form-box::placeholder {
    color: white;
    font-family: var(--FONT-QUICKSAND);
}
.form-box input, .form-box-input {
    border: none;
    border-radius: 5px;
    background-color: var(--INPUT);
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: var(--FONT-SMALL);
}

.status-message {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
}
.status-message-active {
    display: block;
    animation: 5s slide-in forwards;
}

#back-link {
    position: absolute;

    margin: 15px;
    top: 0;
    left: 0;
}
@keyframes slide-in {
    0% {
        top: -200px;
        opacity: 0%;
        z-index: 1;
    }
    20% {
        top: 0px;
        opacity: 100%;
        z-index: 1;
    }
    80% {
        top: 0px;
        opacity: 100%;
        z-index: 1;
    }
    100% {
        top: 0px;
        opacity: 0%;
        z-index: -2;
    }
}