#my-nav {
  --NAVBAR_RELATIVE_SIZE: 10;
  right: 100%;
  width: min(100%, var(--FONT-LARGE) * var(--NAVBAR_RELATIVE_SIZE));
}
.my-nav-active {
  right: max(0%, 100% - (var(--FONT-LARGE) * (var(--NAVBAR_RELATIVE_SIZE)))) !important;
}
.overlay {
    display: flex;
    height: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    background-color: var(--INPUT);
    backdrop-filter: blur(5px);
    overflow-x: visible;
    transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
}

.overlay a, .overlay a:visited {
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  font-size: var(--FONT-LARGE);
  color: var(--TEXT_FAINT) !important;
  display: flex;
  transition: 0.3s;
  border-radius: 5px;
  background: transparent;
  justify-content: flex-end;
  align-items: center;
}
.overlay a span {
  margin: 3px 1rem 0 0;
}

.overlay a:hover, .overlay a:focus {
  color: var(--ACCENT1_STANDARD) !important;
  background: var(--ACCENT_REVERSE);
}
.overlay a:active {
  background: var(--ACCENT_UTILITY)
}
.menubtn {
  position: absolute;
  top: 20px;
  right: -3rem;
  transition: 0.5s;
}

.my-nav-active .menubtn {
  right: 1rem;
}