#patient-welcome {
    max-width: 450px;
    margin: auto;
}

#patient-profile{
    max-width: 450px;
    margin: auto;
}

.text-center {
    text-align: center;
}

.profile-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    gap: 1rem;
}