/**
    BEGIN PATIENT HOME PAGE CSS EXTRACT
**/
#patient-welcome {
    max-width: 450px;
    margin: auto;
    color: white;
}

#patient-welcome section {
    background: var(--BACKGROUND_CONTAINER);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

/**
    BEGIN PATIENT VIEW DATA CSS EXTRACT
**/
.text-center {
    text-align: center;
}

#patient-view h3{
    color: white;
    margin: 10px;
}

#patient-view {
    height: 100%;
    width: 100%;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr;
    grid-gap: 2rem;

    justify-items: center;
    grid-template-areas:
        "top-left top-right"
        "main-left main-right";

    color: white;
}


#patient-view h2, #patient-view p{
    margin: 5px 0;
}
#patient-view section {
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--BACKGROUND_CONTAINER);
    width: 100%;
}
#patient-view-top-left {
    grid-area: top-left;
    font-size: var(--FONT-SMALL);
    height: 200px;

    position: relative;
}

#patient-view-top-left > button:first-child {
    position: absolute;
    left: 0;
    top: 0;
    margin: 15px;

    cursor: pointer;
}
#patient-view-top-right {
    grid-area: top-right;
    font-size: var(--FONT-SMALL);
    height: 200px;

}

#patient-view-left {
    grid-area: main-left;
}

#patient-data-dropdown {
    color: white;
    font: var(--FONT-QUICKSAND);

    cursor: pointer;
}
#patient-data-table, #patient-data-table th, #patient-data-table td {
    border: 1px solid black;
    border-collapse: collapse;
}

#patient-data-table {
    background-color: var(--INPUT);
    color: white;
    width: 100%;
}

#patient-data-table tr:first-child td {
    text-decoration: underline;
}
#patient-data-table tr {
    width: 100%;
    padding: 5px;
}

#patient-data-table td {
    position: relative;
    padding: 5px;
}

#patient-view-right {

    grid-area: main-right;
}
#patient-view-tab {
    display: none;
}

.data-comment-button {
    position: relative;
    cursor: pointer;
}
.data-comment-button ~ div {
    position: absolute;

    width: 200%;
    max-width: 80vw;

    padding: 10px;
    right: 0;
    top: 80%;
    display: none;
    background-color: rgba(255, 255, 255, 0.7);

    color: black;

    border-radius: 5px;
}
.data-comment-button:focus ~ div {
    display: block;
}

.data-comment-button ~ div > h3 {
    color: black;
}


/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*
.about-diabetes-accordian input:checked ~ .accordian-content {
    max-height: 280px;
}
.accordian-content h3, .accordian-content p {
    margin: 5px;
}
*/
/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}
  
/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}
  
/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}
  
/* Style each tab content individually 
#London {background-color:red;}
#Paris {background-color:green;}
*/

@media only screen and (min-width: 700px) and (max-width: 1200px) {
    #patient-view {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;

        grid-template-areas:
            "top-left top-right"
            "main-left main-right";
    }

}

@media only screen and (max-width: 700px) {




    #patient-view {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 1rem;

        grid-template-areas:
            "top-left"
            "top-right"
            "tab"
            "display"        
    }

    #patient-view-top-left {
        height: auto;
    }

    #patient-data-input-box {
        flex-direction: column;
        align-items: center;
    }
    #patient-view-right {
        display: none;
    }

    #patient-view-left {
        display: grid;
        grid-area: display;
    }

    #patient-view-tab {
        display: block;
        align-items: center;
        grid-area: tab;
    }



}