.button-standard {
    background-color: var(--ACCENT1_DARK);
    
    height: 40px;
    font-family: var(--FONT-QUICKSAND);
    color: white;
    margin-top: 10px;
    font-size: var(--FONT-SMALL);

    cursor: pointer;
    display: grid;
    place-items: center;
    text-decoration: none;

    position: relative;

    overflow: hidden;

    border: none;
    border-radius: 10px;

    box-shadow: 1px 1.25px 2px 1px black, 0px 0px 0px 0px white inset;

    transition: linear 0.05s;
}
.button-standard-medium {
    width: 250px;
}
.button-standard-short {
    width: 125px;
}
.button-standard:active {
    background-color: var(--ACCENT1_STANDARD);
    box-shadow: 0px 0px 0px 0px black, 0px 0px 2px 0.5px white inset;
}
.button-standard::after {
    position: absolute;
    content: "";
    left: 100%;
    top: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0), white);
}
.button-standard::before {
    position: absolute;
    content: "";
    right: 100%;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), white);
}
.button-standard:hover::after, .button-standard:hover::before {
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button-standard:hover::after {
    left: -100%;
}
.button-standard:hover::before {
    right: -100%;
}
.button-standard * {
    font-size: var(--FONT-SMALL);
    margin: 0;
}
.alert-message {
    padding: 15px;
    margin: 0 0 20px 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-message-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert-message-deep-danger {
    background-color: #e16361;
    border-color: #ebccd1;
    color: #4e1c1c;
}
.alert-message-success {
    background-color: #def2e8;
    border-color: #ccebd6;
    color: #42a96a;
}

.flex-column {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-justify-start {
    justify-content: flex-start !important;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}
.grid-place-center {
    display: grid;
    place-items: center;
}

.full-width {
    width: 100%;
}