<section id="clinician-dashboard">
    <button id="home-icon" onclick="logout()">
        <span class="material-symbols-outlined">
            logout
        </span>
    </button>
    <section id="clinician-dashboard-title2">
        <h2>My Patient’s</h1>
        <h1>Latest Recorded Data</h2>
    </section>
    <section id="clinician-dashboard-side-bottons">
        <button class="button-standard" name="">[NOT YET IMPLEMENTED]</button>
        <button class="button-standard" onclick="toPatientRegistration()" name="">Register New Patient</button><br>
    </section><br>

    <br><section id="clinician-dashboard-patient-table" class = "standard-table" >
        <table id="data-table">
        </table>
    </section>
</section>

<script src="/scripts/navigation.js"></script>
<script src="/scripts/clinician/viewmodel.js"></script>
<script src="/scripts/auth/logout.js"></script>