<section id="clinician-dashboard">
    <section id="clinician-dashboard-title2">
        <h2>My Patient’s</h1>
        <h1>Latest Recorded Data</h2>
    </section>
    <section id="clinician-dashboard-side-bottons">
        <button class="button-standard" type="submit" name="">View Patient Comments</button>
        <button class="button-standard" type="submit" name="">Register New Patient</button><br>
    </section><br>

    <br><section id="clinician-dashboard-patient-table" class = "standard-table" >
        <table class = "central-item">
            <tr>
                <th>Patient Name</th>
                <th>Blood glucose level (mmol/L)</th>
                <th>Weight (kg)</th>
                <th>Doses of insulin (no.)</th>
                <th>Exercise (step count)</th>
            </tr>
            <tr>
                <td>John Wick</td>
                <td>8.8</td>
                <td>71.5</td>
                <td>2</td>
                <td>8000</td>
            </tr>
            <tr>
                <td>Applepie Banana</td>
                <td>8.9</td>
                <td>67.1</td>
                <td>1</td>
                <td>4000</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        </table>
    </section>
</section>