<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        
        <a href="/patient/home">patient home</a>
        <a href="/patient/profile">patient profile</a>
        <a href="/patient/data">patient data</a>
        <a href="/patient/leaderboard">patient leaderboard</a>
        <a href="/">Home</a>
        <a href="/about/diabetes">About Diabetes</a>
        <a href="/about/us">About Us</a>
    </div>
</div>

<section id="patient-home">
    <section id="patient-welcome">
        <section class="flex-column">
            <h2 class="text-center">
                Welcome!
            </h2>
            <p class="text-center">
                Please use the navigation menu in the top left to select and navigate to the page you are looking for.
                Unsure where to start? Why not have a look to see if your clinician has sent you any messages to catch up on:
            </p>
            <button class="button-standard button-standard-medium">
                Not yet implemented
            </button>
        </section>
        <section id="message-box" class="text-center" style="display: none;">

        </section>
        <section class="flex-column">
            <div id="badge-frame" class="progress-badge-frame" style="visibility: hidden">
                <img src="/assets/engagement-badge.png">
            </div>
            <h2>Data Entry</h2>
            <p id="health-data-msg" class="text-center">
                
            </p>
            <button class="button-standard button-standard-medium" onclick="toViewData()">
                Enter Data
            </button>
        </section>
    </section>
</section>

<script src="/scripts/navigation.js"></script>
<script src="/scripts/auth/logout.js"></script>
<script src="/scripts/patient/homeStatus.js"></script>
<script src="/scripts/message.js"></script>
<script src="/scripts/patient/engagementbadge.js"></script>