<section id="patient-home">
    <button id="home-icon" onclick="logout()">
        <span class="material-symbols-outlined">
            logout
        </span>
    </button>
    <section id="patient-welcome">
        <section class="flex-column">
            <h2 class="text-center">
                Welcome!
            </h2>
            <p>
                Please use the navigation menu in the top left to select and navigate to the page you are looking for.
                Unsure where to start? Why not have a look to see if your clinician has sent you any messages to catch up on:
            </p>
        
            <button class="button-standard button-standard-medium">
                Not yet implemented
            </button>
        </section>
        <section class="flex-column">
            <p>
                Want to update your clinician on your measures or just want to view your current health data? 
            </p>
            <button class="button-standard button-standard-medium" onclick="toViewData()">
                Enter Data
            </button>
        </section>
    </section>
</section>

<script src="/scripts/navigation.js"></script>
<script src="/scripts/auth/logout.js"></script>