<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        
        <a href="/patient/home">patient home</a>
        <a href="/patient/profile">patient profile</a>
        <a href="/patient/data">patient data</a>
        <a href="/patient/leaderboard">patient leaderboard</a>
        <a href="/">Home</a>
        <a href="/about/diabetes">About Diabetes</a>
        <a href="/about/us">About Us</a>
    </div>
</div>

<section id="patient-leaderboard">
    <section id="leaderboard">
        <h2>Top 5 patients - Engagement</h2>
        <div class="flex-space-between">
            <h3>Username</h3>
            <h3>Engagement</h3>
        </div>
    </section>
</section>

<script src="/scripts/patient/leaderboard.js"></script>