<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        
        <a href="/patient/home">patient home</a>
        <a href="/patient/profile">patient profile</a>
        <a href="/patient/data">patient data</a>
        <a href="/patient/leaderboard">patient leaderboard</a>
        <a href="/">Home</a>
        <a href="/about/diabetes">About Diabetes</a>
        <a href="/about/us">About Us</a>
    </div>
</div>

<section id="patient-profile">
    <section id="patient-profile-inputs" class="profile-grid">
        <div>
            <p class="profile-input-caption">
                Display Name
            </p>
            <input>
        </div>
        <div>
            <p class="profile-input-caption">
                First Name
            </p>
            <input>
        </div>
        <div>
            <p class="profile-input-caption">
                Last Name
            </p>
            <input>
        </div>
        <div>
            <p class="profile-input-caption">
                Birth Year
            </p>
            <input>
        </div>
        <div>
            <p class="profile-input-caption">
                Email Address
            </p>
            <input>
        </div>
        <div>
            <p class="profile-input-caption">
                Bio
            </p>
            <input>
        </div>
    </section>
</section>