<section id="patient-view">
    
    
    <section id="patient-view-top-left" class="flex-column">
        <button id="home-icon" onclick="toHomePage()">
            <span class="material-symbols-outlined">
                home
            </span>
        </button>
        
        <h3>Choose an assigned health measure</h3>
        <select id="patient-data-dropdown" class="form-box-input data-dropdown">
            {{#each measures}}
            <option value="{{@index}}" data-endpoint="{{this.endpoint}}" data-unit="{{this.unit}}">{{this.name}}</option>
            {{/each}}
        </select>
    </section>

    <section id="patient-view-top-right" class="flex-column">
        <h3>Enter health data</h3>
        <div class="disabled">You have already entered data for this measure today</div>
        <form id="patient-data-input-box" class="form-box flex-row flex-justify-start"  onsubmit="onSubmitPlaceholder(event)">
            <div class="flex-column">
                <input type="number" id="data-input-value" placeholder="0"/>
                <input type="text" id="data-input-comment" placeholder="comment (optional)"/>
            </div>
            <button class="button-standard button-standard-short" type="submit" onclick="onSubmit()">Submit</button>
        </form>
    </section>

    <section id="patient-view-left" class="flex-column">
        <h3 id="data-table-title">Your data history</h3>
        <table id="patient-data-table" class="data-table"></table>
    </section>

    <section id = "patient-view-right">

        <h3 class="grid-place-center">Place chart here </h3>
    </section>

    <section id = "patient-view-tab">

        <button class="tablink" onclick="changeView('patient-view-left', 'patient-view-right')" id="defaultOpen">Table</button>
        <button class="tablink" onclick="changeView('patient-view-right', 'patient-view-left')">Graph</button>

    </section>

</section>

<script>
    function changeView(show, hide) {;

    document.getElementById(hide).style.display = "none";
    document.getElementById(show).style.display = "block";
    document.getElementById(show).style.width = "100%";

    document.getElementById(show).style.gridArea = "display";
    document.getElementById(show).style.alignItems = "center";
    document.getElementById(show).style.justifyItems = "center";
}
</script>

<script src="/scripts/patient/viewmodel.js"></script>
<script src="/scripts/navigation.js"></script>