<section id="patient-profile">
    <section id="patient-profile-inputs" class="profile-grid">
        <div>
            <p>
                Display Name
            </p>
            <input>
        </div>
        <div>
            <p>
                First Name
            </p>
            <input>
        </div>
        <div>
            <p>
                Last Name
            </p>
            <input>
        </div>
        <div>
            <p>
                Birth Year
            </p>
            <input>
        </div>
        <div>
            <p>
                Email Address
            </p>
            <input>
        </div>
        <div>
            <p>
                Bio
            </p>
            <input>
        </div>
    </section>
</section>