<section id="patient-home">
    <section id="patient-welcome">
        <h2 class="text-center">
            Welcome!
        </h2>
        <p>
            Please use the navigation menu in the top left to select and navigate to the page you are looking for.
            Unsure where to start? Why not have a look to see if your clinician has sent you any messages to catch up on:
        </p>
        <section>
            <div class="div-center-horiz">
                <button class="button-standard">
                    View messages
                </button>
            </div>
        </section>
        <h2 class="text-center">
            Data Countdown
        </h2>
        <p>
            table goes here
        </p>
        <section>
            <div class="div-center-horiz">
                <button class="button-standard">
                    Enter Data
                </button>
            </div>
        </section>
    </section>
</section>