<section id="clinician-dashboard">
    <section>
        <section id="clinician-dashboard-title2">
            <h2>My Patients</h2>
        </section>
        <section id="clinician-dashboard-side-buttons">
            <button class="button-standard" onclick="toCommentsPage()" name="">View Comments</button>
            <button class="button-standard" onclick="toPatientRegistration()" name="">Register New Patient</button><br>
        </section><br>

        <br><section id="clinician-patient-table-container" class="grid-place-center" >
            <table id="clinician-patient-table" class="data-table">
            </table>
        </section>
    </section>
</section>

<script src="/scripts/navigation.js"></script>
<script src="/scripts/clinician/viewmodel.js"></script>
<script src="/scripts/auth/logout.js"></script>
<script src="/scripts/commentPopup.js"></script>