<section id="about-diabetes">
    <section id="about-diabetes-aside">
        <div>
            <img id="about-diabetes-logo" src="/assets/logo.png">
            <h2>DiabetesM</h2>
            <b>World class diabetes monitoring.</b>
            
        </div>
    </section>
    <section id="about-diabetes-contact-us" class="font-white font-quicksand">
        <h2>
            <span class="material-icons-outlined">
                contact_page
            </span>
            Contact Us
        </h2>
        <p>
            Do you have any burning inquiries regarding our services at <b><i>DiabetesM</i></b>?
            <br>
            You can contact us via:
        </p>
        <div class="flex-row-align-center">
            <span class="material-icons-outlined">
                email
            </span> support@diabetesm.com.au
        </div>
        <br>
        <div class="flex-row-align-center">
            <span class="material-icons-outlined">
                phone
            </span>+ 0499 999 999
        </div>
    </section>
    <section id="about-diabetes-corner">
        This project was made for the University of Melbourne as part of INFO30005.
    </section>

    <section id="about-diabetes-main-1" class="font-quicksand">
        <!-- Randomly chose DiabetesM as placeholder name perhaps change bit later-->
        <h2>What is <i>DiabetesM?</i></h2>
        <p>“DiabetesM” is a diabetes management and monitoring platform developed by a team of students from the University of Melbourne. 
            
            <br>
            Through this app, we offer various features and services that will assist you through diabetes.
            
            <br>
            What we offer:

            <h3>For patients</h3>
            <ul>
                <li>Easy to use tracking and recording service for a range of different measures</li>
                <li>Customisable health tracing</li>
                <li>Correspondence between you and your clinician</li>
            </ul>
            <h3>For clinicians</h3>
            <ul>
                <li>A user experience and speed focused UI designed for optimizing your efficiency in fulfilling tasks</li>
                <li>A private communication channel between you and your patient</li>
                <li>A colour-effective UI designed to highlight patient data needing immediate attention</li>
            </ul>
            <h3>For all</h3>
            <ul>
                <li>Powerful presentation of data for pattern finding and effective management</li>
                <li>The ability to switch between light and dark mode</li>
                <li>Secure and encrypted data storage</li>
            </ul>
            <br>To start using our services, you can <a href="#top">Create an Account</a>, or if you already have one, you can <a href="#top">Log in</a> here.
            <br>Alternatively, to read more about diabetes, see our <a href="about-diabetes.html">About Diabetes</a> page.
            </p>
    </section>

    <section id="about-diabetes-main-2" class="font-quicksand">
        <h2>Meet the Team</h2>
        <div id="about-diabetes-team-section">
            <div class="profile-image">
                <img src="/assets/lucien.jpg" alt="Image not found.">
                <div class="profile-image-overlay font-white"><h3 class="font-white">Lucien Lu</h3></div>
            </div>
            <div class="profile-image">
                <img src="/assets/andy.jpg" alt="Image not found.">
                <div class="profile-image-overlay font-white"><h3 class="font-white">Andy Feng</h3></div>
            </div>
            <div class="profile-image">
                <img src="/assets/nate.jpg" alt="Image not found.">
                <div class="profile-image-overlay font-white"><h3 class="font-white">Nathan Rearick</h3></div>
            </div>
            <div class="profile-image">
                <img src="/assets/geordan.jpg" alt="Image not found.">
                <div class="profile-image-overlay font-white"><h3 class="font-white">Geordan Bennie</h3></div>
            </div>
            <div class="profile-image">
                <img src="/assets/ted.png" alt="Image not found.">
                <div class="profile-image-overlay font-white"><h3 class="font-white">Ted Barrett</h3></div>
            </div>
        </div>
    </section>
</section>