<div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a href="/">Home</a>
                <a href="/about/diabetes">About Diabetes</a>
                <a href="/about/us">About Us</a>
                <a href="/auth/login">Sign In</a>
            </div>
</div>

<h2>DiabetesM</h2>

<p>This is the home page</p>
<p>Go to <a href="/about/diabetes"> about diabetes</a></p>
<p>Go to <a href="/about/us">about us</a></p>
<p>Go to <a href="/patient/home">patient home</a></p>
<p>Go to <a href="/auth/login"> sign in</a></p>
<p>Go to <a href="/clinician/dashboard"> clinician dashboard</a></p>
<p>Go to <a href="/patient/profile">patient profile</a></p>