<p>This is the home page</p>
<p>Go to <a href="/about/diabetes"> about diabetes</a></p>
<p>Go to <a href="/about/us">about us</a></p>
<p>Go to <a href="/auth/login"> sign in</a></p>
<p>Go to <a href="/patient/home">patient home</a></p>
