<div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a href="/">Home</a>
                <a href="/about/diabetes">About Diabetes</a>
                <a href="/about/us">About Us</a>
                <a href="/auth/login">Sign In</a>
            </div>
</div>
<section class="bg-container">
    <p style="font-size: var(--FONT-LARGE)">
        404: Page not found
    </p>
</section>