<section id="patient-home">
    <section id="patient-welcome">
        <section class="flex-column">
            <h2 class="text-center">
                Welcome!
            </h2>
            <p class="text-center">
                Please use the navigation menu in the top left to navigate to the page you are looking for.
            </p>
        </section>
        <section id="message-box" class="text-center" style="display: none;">

        </section>
        <section class="flex-column">
            <div id="badge-frame" class="progress-badge-frame" style="visibility: hidden">
                <img src="/assets/engagement-badge.png">
            </div>
            <h3>Data Entry</h3>
            <p id="health-data-msg" class="text-center">
                
            </p>
            <button class="button-standard button-standard-medium" onclick="toViewData()">
                Enter Data
            </button>
        </section>
    </section>
</section>

<script src="/scripts/navigation.js"></script>
<script src="/scripts/auth/logout.js"></script>
<script src="/scripts/patient/homeStatus.js"></script>
<script src="/scripts/message.js"></script>
<script src="/scripts/patient/engagementbadge.js"></script>