<section id="patient-leaderboard">
    <section id="leaderboard">
        <h2>Top 5 patients - Engagement</h2>
        <div class="flex-space-between">
            <h3>Username</h3>
            <h3>Engagement</h3>
        </div>
    </section>
</section>

<script src="/scripts/patient/leaderboard.js"></script>