<section id="patient-profile">
    <section id="patient-profile-inputs" class="profile-grid">
        <div>
            <p class="profile-input-caption">
                Display Name
            </p>
            <input>
        </div>
        <div>
            <p class="profile-input-caption">
                First Name
            </p>
            <input>
        </div>
        <div>
            <p class="profile-input-caption">
                Last Name
            </p>
            <input>
        </div>
        <div>
            <p class="profile-input-caption">
                Birth Year
            </p>
            <input>
        </div>
        <div>
            <p class="profile-input-caption">
                Email Address
            </p>
            <input>
        </div>
        <div>
            <p class="profile-input-caption">
                Bio
            </p>
            <input>
        </div>
    </section>
</section>